:root {
    --greenBlue: #1068A7;
    --polyBlue: #054D8C;
    --Verdigris: #00BDBD;
    --TimberWolf: #e1e5f3;
    --PineGreen: #19756B;
    --STUPID: #5CB3A9;
    --Cobalt: #1642A2;
    --Charcoal: #2E3F45;
}

.Not-needed {
    font-size: 10rem;
    text-align: center;
    margin-top: 15rem;
}

/* Navbar */
.Navbar {
    background-color: var(--Charcoal);
    position: sticky;
    z-index: 999;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, 75% var(--Charcoal), #232134);
}

.Nav-title {
    z-index: 1;
    margin-right: 1;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
    height: 75px;
    background-image: radial-gradient(var(--PineGreen) 0%, var(--Cobalt) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.Nav-item-container {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.Nav-item {
    margin-right: auto;
    width: 100%;
    text-align: center;
    transition: all .4s ease;
}

.Nav-item:hover {

    scale: 1.5;
    transition: all .4s ease;
    z-index: 2;
}

.Nav-item a {
    text-decoration: inherit;
    color: var(--TimberWolf);
}

/* collage */
.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.sliding-image {
    transition: all ease .5s;
    cursor: pointer;
}

.sliding-image:hover {
    transition: all ease .25s;
    filter: contrast(100);
    scale: 1.25;

}
/*Employment*/
.card{
margin: auto;
width: 22rem;
height: 18rem;
margin-top: 2rem;
}
.card-img-top{
    height: 400px;
}
.card-text{
    text-align: center;
    color: var(--TimberWolf);
}
.card-body
{
    background-color: #232134;
}
.employment-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.employment-apply{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    color:#a8a6b6
}
.employment-title {
text-align: center;

}
.employment-title h1{
    font-size: 8rem;
}
.employment-title h2{
    font-size: 4rem;
}
/* Responsive*/
@media screen and (max-width: 900px) {
    .Nav-item-container {
        width: 100%;
        font-size: 1rem;
    }

    .Nav-title {
        font-size: 2rem;
        justify-content: center;
        padding-top: 1rem;
    }

    .Nav-item {
        margin-right: 1rem;
        width: auto;
        text-align: center;
    }

    .Nav-item:hover {
        scale: 1.25;
    }

    .Nav-item a {
        text-decoration: inherit;
        color: var(--TimberWolf);
    }

    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width:1150px){
    .employment-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    
}
.employment-title h1{
    font-size: 4rem;
}
.employment-title h2{
    font-size: 2rem;
}
}
@media screen and (max-width:770px){
    .employment-container{
    display: grid;
    grid-template-columns: 1fr;
}
}