:root{
    --greenBlue:#1068A7;
    --polyBlue :#054D8C;
    --Verdigris :#00BDBD;
    --TimberWolf :#e1e5f3;
    --PineGreen :#19756B;
    --STUPID :#5CB3A9;
    --Cobalt :#1642A2;
    --Charcoal :#2E3F45;
}


/* Navbar */
.Nav-title
{
   width: 25%;
   text-align: center;
   font-size: 3rem;
}
.Nav-item-text
{
    
}
.Nav-item-container{
    width: 60%;
    display: flex;
    font-size: 2rem;
    margin-right: 3rem;
    background-color: white;
    justify-content: center;
}
.Nav-item
{
     margin-right: 2rem ;
     background-color: rebeccapurple;
 
}
.Nav-item a
{
color:inherit;
text-decoration: inherit;
}